{
    "tabWidth": 4,
    "printWidth": 90,
    "semi": false,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true,
    "overrides": [
        {
            "files": ["./app/doc.ts"],
            "options": {
                "printWidth": 90
            }
        }
    ],
    "plugins": ["prettier-plugin-organize-imports"]
}
